[build-system]
requires = ["setuptools >= 62", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "aioqbt"
version = "0.5.0"
authors = [
    { name = "Aaron Tsang" },
]
requires-python = ">=3.7"
classifiers = [
    # classifier list on https://pypi.org/classifiers/
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.7",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
# dependencies is a list of PEP 508 strings
dependencies = [
    "aiohttp >= 3.8.1, < 4",
    "typing-extensions >= 4.0.1, < 5"
]

# optional-dependencies is a table whose values are lists of PEP 508 strings
[project.optional-dependencies]
dev = [
    "mypy ~= 0.961, < 1",
    "black ~= 22.6.0",
    "isort ~= 5.10.1",
    "sphinx ~= 5.1.0",
    "sphinx-rtd-theme ~= 1.0.0",
]
test = [
    "pytest ~= 7.1.2, < 8",
    "pytest-asyncio ~= 0.19.0, < 1",
    "coverage[toml] ~= 6.4.4",
]

[tool.setuptools.packages.find]
where = ["src"]

[tool.black]
line-length = 100
target-version = ["py37", "py38", "py39", "py310", "py311"]

[tool.isort]
line_length = 100
profile = "black"

[tool.mypy]
warn_unused_configs = true
python_version = "3.7"
check_untyped_defs = true
show_error_codes = true
warn_unused_ignores = true
no_implicit_optional = true
sqlite_cache = true
disallow_any_unimported = true
disallow_any_generics = true
disallow_subclassing_any = true

[tool.pytest.ini_options]
asyncio_mode = "strict"

[tool.coverage.report]
exclude_lines = [
    "\\bpragma: no cover\\b",
    "^\\s*raise (AssertionError|NotImplementedError)\\b",
    "^\\s*return (NotImplemented)\\b",
    "^\\s*(assert True|pass|\\.\\.\\.)",
    "^\\s*if TYPE_CHECKING:",
    "^\\s*def __repr__",
]
omit = [
    "tests/*"
]
